.container {
  /* border: 1px solid; */
  border-radius: 5px;
  width: 115px;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.12157);
  margin-left: 40px;
}
.container:hover {
  transition: background 1s;
  background-color: #fed7aa;
  width: 140px;
  height: 140px;
  transform: translate(-10px, -10px);
}
.dropbar {
  transition: background 1s;
  background-color: #fed7aa;
  width: 140px;
  height: 140px;
  transform: translate(-10px, -10px);
}
.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.75rem;
}
.pic {
  width: 100%;
  height: 120px;
  display: flex;
  margin-top: 2px;
  align-items: center;
  justify-content: center;
}
.trick {
  margin-bottom: 10px;
}
.title span {
  margin-bottom: 20px;
}

.shot {
  width: 100%;
  height: 90px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .pic {
    height: 80%;
  }
}
